.menu {
    background-color: blue;
    float: left;
    width: 20%;
    height: 100%;
}

.treść {
    background-color: greenyellow;
    float: right;
    width: 80%;
}

h1 {
    color: red;
}

#wyślij {
    background-color: green;
}

#resetuj {
    background-color: red;
}