{% extends "base.html" %}

{% block content %}
    <h1>Lista książek</h1>
    {% for book in books %}
        {{book.title}} <br>

    {% endfor %}

<div class="card" style="width: 18rem;">
    <img src="https://pliki.sadyogrody.pl/i/01/92/38/019238_620.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://facebook.com" class="btn btn-primary">Facebook</a>
    </div>
  </div>
{% endblock content %}